# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios Cap02

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [10]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [11]:
lista = [1, 2, 3, 4, 5]
lista

[1, 2, 3, 4, 5]

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [12]:
string1 = "Gilberto"
string2 = "Freitas"
nome = string1 + " " + string2
nome

'Gilberto Freitas'

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [15]:
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
tupla1.count(4)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [18]:
dicVazio = {}
dicVazio

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [24]:
dicVal = {"key1":"val1", "key2":"val2", "key3":"val3"}
dicVal

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [26]:
dicVal["key4"] = "val4"
dicVal

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3', 'key4': 'val4'}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [28]:
dicVal = {"key1":"val1", "key2":"val2", "key3":[1, 2]}
dicVal

{'key1': 'val1', 'key2': 'val2', 'key3': [1, 2]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [33]:
lista = ["string", ("tp1", "tp2"), {'key1': 'val1', 'key2': 'val2'}, 1.1]
print(type(lista[0]))
print(type(lista[1]))
print(type(lista[2]))
print(type(lista[3]))

<class 'str'>
<class 'tuple'>
<class 'dict'>
<class 'float'>

In [34]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [37]:
print(frase[0:18])

Cientista de Dados

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>